form table{
    min-width: 100%;
}
form table {
    border-collapse: separate;
    border-spacing: 20px 10px;
}

.clear{
    clear: both;
}

.logo-admin{
    width: 150px;
    margin-right: 35px;
}

.font-white{
    color: #fff;
}

.bg-header-main{
    background: transparent;
}

ul.nav,
.session-close{
    margin-top: 15px;
}

.min-height-row{
    min-height: 800px;
}

.header-main{
    margin-bottom: 20px;
}
.nav-container{
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: solid;
}


.date{
    border-spacing: 0px;
}

.date input{
    margin: 0px;
    padding: 0px;
}
/*
.input-group-addon {
	display: block !important;
	width: 39px !important;
	height: 34px !important;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
}
*/

.nav > li{
    margin: 0 10px;
}
.btn-logout{
    margin-left: 20px;
}


.panel-heading a{
    margin-right: 20px;
}

.title-user-name{
    margin-top: 100px;
}
.rojo{
    background: #ffc7ce;
    color: #9c0031;
}
.verde{
    background: #c6efce;
    color: #006100;
}
/*
form[name=frmSearch] .form-control {
    display: block !important;
    width: 100% !important;
}
*/

table tr td img{
    width: 500px;
}

footer{
    padding: 20px;
}

